.createProject_css {
  height: auto;
  background-color: #19191a;
  border: 1px solid #acacac;
  border-radius: 10px;

  font-family: Source Sans Pro, sans-serif;

  .MuiTextField-root:first-of-type {
    width: 70%;
  }

  label {
    font-size: 1.6rem;
    color: #acacac;
  }

  form {
    padding: 24px 24px 24px 24px;
  }

  .MuiFormControl-root {
    margin-top: 25px;
    color: #ffffff;
  }

  .MuiInput-input {
    color: #ffffff;
    font-size: 1.6rem;
  }

  .button_container {
    text-align: center;
    padding-top: 50px;
  }
  button {
    border-radius: 10px;
    display: inline-block;
    font-size: 1.6rem;
    width: 80px;
    height: 40px;
    background-color: #2b2c32;
    border: none;
    color: #77d672;
  }

  .MuiSvgIcon-root {
    font-size: 3rem;
    color: #acacac;
  }

  .close_button_container {
    width: 100%;
    padding: 16px 24px 16px 24px;
    border-bottom: solid 1px #acacac;
  }
}
